 <%- include('../partials/header') %>
<h2><%=title%></h2>
</div>

 <div class="container-fluid">
   <div class="row row-cols-2 row-cols-lg-1 g-1 g-lg-1 text-center">
     <div class="col-lg">
        <div class="col">
          <p class="text-lef">My mom was full Hawaiian and my dad was full Filipino. I was borned and raised in Seattle, WA. and our family moved to the Philippines in 2008. I spent 10 years of my life going to school and adapting to the culture. Coming back I am bilingual and back in school to follow my dreams of becoming a developer.</p>
        </div>
       <div class="col">
        <img class="img-fluid rounded" src="images/culture.jpg"/>
      </div> 
     </div>
  </div>
  </div>

<!-- to place footer at end      -->
<%- include('../partials/footer') %>
     
