 <%- include('../partials/header') %>
<h2><%=title%></h2>
</div>

 <div class="container-fluid text-center">
   <div class="row row-cols-2 row-cols-lg-4 g-2 g-lg-3">
     <div class="col-lg">
      <div class="col">
        <img class="img-fluid rounded" src="images/explore.jpg"/>
      </div>
      <div class="col">
        <p>Nothing helps me relax more than exploring and traveling, seeing new nature and scenery is the best in my opnion!</p>
      </div>
      
    </div>
  
   <div class="col-lg">
      <div class="col">
        <img class="img-fluid rounded" src="images/coding.jpg"/>
      </div>
      <div class="col">
        <p>I love developing and coding. I love seeing the final program and seeing them put to work!</p>
      </div>
      
    </div>
  
   <div class="col-lg">
      <div class="col">
        <img class="img-fluid rounded" src="images/food.jpg"/>
      </div>
      <div class="col">
        <p>During my free time, if I am not busy doing the first two, you will find me eating out with my friends or family.</p>
      </div>
   </div>
     <div class="col-lg">
      <div class="col">
        <img class="img-fluid rounded" src="images/learn.jpg"/>
      </div>
      <div class="col">
        <p>I love to learn and network! Any opportunities that arise, I love grasping it and using it to my advantage.</p>
      </div>
   </div>
    
  </div>
  </div>

<!-- to place footer at end      -->
<%- include('../partials/footer') %>
     
