 <%- include('../partials/header') %>
<h2><%=title%></h2>
  	<h5>Photo of me:</h5>
  	<div><img class="fakeimg" src="images/desktop.jpg"/></div>
  	<h3 class="mt-4">Some Links</h3>
  	<ul class="nav nav-pills flex-column">
    	<li class="nav-item">
      	<a class="nav-link" href="https://github.com/yagirldolor">GitHub</a>
    	</li>
    	<li class="nav-item">
      	<a class="nav-link" href="https://replit.com/@Dolores-LapuleL/ejs-templates#views/pages/index.ejs">Replit</a>
    	</li>
    	<li class="nav-item">
      	<a class="nav-link" href="https://yagirldolor.github.io/IT121Portal/">Portfolio</a>
    	</li>
    	<li class="nav-item">
      	<a class="nav-link" href="https://www.linkedin.com/in/doloreusebio/">LinkedIn</a>
    	</li>
  	</ul>
  	<hr class="d-sm-none">
	</div>
	<div class="col-sm-8">
  	<h2>Who am I?</h2>
  	<p>Hi, I'm Dolor, an emerging applications developer in Seattle; passionate to guide and inspire others to the top. I am here to represent the ability to have fun and be successful at the same time. Having the determination to learn more about web development, I have taken the task into my own hands. Code Academy certifications and multiple self-learning methods, I have gotten familiar with front-end developer skills; including HTML, JavaScript, and CSS. Customer service awards present receipts of my drive to go above and beyond. Traveling gets my mind off of stress and clears my head, allowing myself to stay on the right track.</p>

<!-- to place footer at end      -->
    <%- include('../partials/footer') %>
     
